## Chapter 2

### Doc String

In [1]:
def sample(a):
    """this is a doc string of function sample()"""
    
    
print(sample.__doc__)

this is a doc string of function sample()

### input() example

In [2]:
var1 = input("enter a no.:")
var2 = input("enter a no.:")

print(var1 + var2)

enter a no.:76
enter a no.:8
768

In [3]:
var1 = int(input("enter a no.:"))
var2 = int(input("enter a no.:"))

print(var1 + var2)

enter a no.:89
enter a no.:45
134

### comparator operator :  ==  <=  >=  != < >

In [4]:

x = 3
print(1 <= x <= 5)

True

### boolean : and or not

In [5]:

food = "maggie"
num = 4
if(food == "maggie" and num >= 4):
    print('whole family eats')

whole family eats

In [6]:
logged_in = False
if not(logged_in):
    print("please log in to continue!")

please log in to continue!

### objects and Dynamic Typing

In [7]:
 print(type(4.1))
x = 5
print(type(x))
x = 'CSE'
print(type(x))

print(x)

<class 'float'>
<class 'int'>
<class 'str'>
CSE

In [8]:
x= 7
print(x+5)
print(x)

12
7

In [9]:
a,b,c = 5,4,2

print((a**c + b)//c % a)

4

### Basic descriptive Statistics

#### Q Minimum of 3 numbers.

In [10]:
x = int(input("Enter number 1:"))
y = int(input("Enter number 2:"))
z = int(input("Enter number 3:"))

min_v = x
if(min_v >y):
    min_v = y
elif(min_v >z):
    min_v = z


print(min_v)

Enter number 1:6
Enter number 2:534
Enter number 3:5
5

In [11]:
x = int(input("Enter number 1:"))
y = int(input("Enter number 2:"))
z = int(input("Enter number 3:"))

print(min(x,y,z))
print(max(x,y,z))

Enter number 1:346
Enter number 2:654
Enter number 3:65
65
654